.Card {
  position: relative;

  background-color: var(--card-background);

  max-width: 540px;
  padding: 0px 4.8rem;

  border-radius: 15px;
}

.Card__Header {
  padding-top: 4.8rem;
  padding-bottom: 2.4rem;
}

.Card__Title {
  text-align: center;
  text-transform: uppercase;

  color: var(--heading-color);
  letter-spacing: 4.1px;

  font-size: var(--heading-text-desktop);
}

.Card__Content {
  text-align: center;
  color: var(--quote-color);

  font-size: var(--quote-text-desktop);
  line-height: 3.8rem;
  letter-spacing: -0.3px;
}

.Card__Divider {
  padding-top: 4rem;
  padding-bottom: 7.2rem;
}

.Card__Divider--show-mobile {
  display: none;
}

.Card__Divider--show-desktop {
  display: block;
}

.Card__Footer,
.Card__Form {
  width: 100%;
}

.Card__Form {
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: calc(0% - 32px);
  left: 0px;
}

.Card__Submit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;

  background-color: var(--btn-background);

  border: 0;
  border-radius: 50%;

  cursor: pointer;

  transition: box-shadow 0.2s;
}

.Card__Submit--state-hover:hover {
  box-shadow: 0 0 40px var(--btn-background);
}

@media (max-width: 375px) {
  .Card {
    max-width: 343px;
    padding: 0px 2.4rem;

    border-radius: 10px;
  }

  .Card__Header {
    padding-top: 4rem;
    padding-bottom: 2.4rem;
  }

  .Card__Title {
    font-size: var(--heading-text-mobile);
  }

  .Card__Content {
    font-size: var(--quote-text-mobile);
    line-height: 33px;
    letter-spacing: -0.25px;
  }

  .Card__Divider {
    padding-top: 2.4rem;
    padding-bottom: 6.4rem;
  }

  .Card__Divider--show-mobile {
    display: block;
  }

  .Card__Divider--show-desktop {
    display: none;
  }
}
